In [1]:
values = {6, 'Python', 5.6}
type(values)

set

In [2]:
values = set()
type(values)
set
values={12,1,2,3,2,45,4,5,3}
values

{1, 2, 3, 4, 5, 12, 45}

In [3]:
#Creating a set
set1 = set()
print (set1)

set()

In [4]:
value_set = {2, 'Python', 'a',5,9.4}                  #Creating a set
value_set

{2, 5, 9.4, 'Python', 'a'}

In [5]:
#WAP to acess element in the set
value_set[0]

TypeError: 'set' object is not subscriptable

In [6]:
#WAP to acess element in the set
value_set.append('Hello')
value_set

AttributeError: 'set' object has no attribute 'append'

In [7]:
value_set=value_set+"Hello"                       #WAP to acess element in the set
value_set

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [8]:
value_set.add("apple")                             #WAP to acess element in the set
value_set

{2, 5, 9.4, 'Python', 'a', 'apple'}

In [9]:
value_set.add("apple" , "banana")                  #WAP to acess element in the set
value_set

TypeError: set.add() takes exactly one argument (2 given)

In [10]:
value_set = {2, 'PYTHON', 'a', 5, 9.4}
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

In [11]:
value_set.remove('PYTHON')                          #Remove function
value_set

{2, 5, 9.4, 'a'}

In [12]:
value_set.remove(6)
value_set

KeyError: 6

In [13]:
value_set.discard(9.4)
value_set

{2, 5, 'a'}

In [14]:
#Clear of delete a set
value_set.clear()
value_set

set()

In [20]:
value_set

set()

In [21]:
#WAP to find the length of the set

len(value_set)

0

In [22]:
#WAP to find the length of the set
value_set={1,2,3,4,5,6}
len(value_set)

6