In [1]:
#Creating Tuples
empty_tuple = ()                 #Round Bracktes idecate that it is tuple with 0 values
print(empty_tuple)

()

In [2]:
value_tuple = (26,45,32)
print(value_tuple)

(26, 45, 32)

In [3]:
value_tuple = 26,45,32
print(value_tuple)

(26, 45, 32)

In [4]:
# Tuple with different values
value_tuple = (26,45,'hello')
print(value_tuple)

(26, 45, 'hello')

In [5]:
# creating a tuple with one element
Tuple = ("hello")
print(Tuple)

hello

In [6]:
# creating a tuple with one element and comma
Tuple = ("hello",)
print(Tuple)

('hello',)

In [9]:
#concadination of tuples
value1 = (26,45,'hello')
value2= 7,56,'python'
print(value1+value2)

(26, 45, 'hello', 7, 56, 'python')

In [10]:
# Nesting of tuples
value1_tuple=(26,45,'hello')
value2_tuple=7,5.6,'python'
value3_tuple=value1_tuple,value2_tuple
print(value3_tuple)

((26, 45, 'hello'), (7, 5.6, 'python'))

In [13]:
#Repetation
value1_tuple=(26,45,'hello')*2
print(value1_tuple)

(26, 45, 'hello', 26, 45, 'hello')

In [15]:
#Access the value for index number
value_tuple=(26,45,'hello',7.5)
print(value_tuple[3])

7.5

In [16]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5)
print(value_tuple[2:])

('hello', 7.5)

In [17]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5)
print(value_tuple[3:])

(7.5,)

In [18]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5)
print(value_tuple[:2])

(26, 45)

In [19]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[:7])

(26, 45, 'hello', 7.5, 'z', 5, 6.9)

In [20]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[:-4])

(26, 45, 'hello')

In [21]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[-4])

7.5

In [22]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[::2])

(26, 'hello', 'z', 6.9)

In [23]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1::2])

(45, 7.5, 5)

In [25]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[2::2])

('hello', 'z', 6.9)

In [26]:
#Slicing the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
print(value_tuple[1:6:2])

(45, 7.5, 5)

In [27]:
#Deleting the tuples
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
del(value_tuple)
print(value_tuple)

NameError: name 'value_tuple' is not defined

In [1]:
#Looping
Tuple = ('hello')
n = 3
for i in range(int(n)):
    Tuple =(Tuple,)
    print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

In [2]:
#Built-in Functions  len-total no of elements present in the list
tuple = ('developer',5,8.9,'r',8)
print(len(tuple))

5

In [3]:
#Built-in Function
tuple = (9,5,89,4,8)
print(max(tuple))

89

In [4]:
#Built-in Function
tuple = (9,5,89,4,8)
print(min(tuple))

4

In [5]:
#Built-in Function
tuple = (9,5,89,4,8)
print(sum(tuple))

115

In [6]:
#Built-in Function
tuple = (9,5,89,4,8)
print(sorted(tuple))

[4, 5, 8, 9, 89]

In [7]:
#Built-in Function
tuple=(0,1)
print(any(tuple))

True

In [8]:
#Built-in Function
tuple=(4,1)
print(all(tuple))

True

In [9]:
#Built-in Function
tuple=(0,5,7)
print(all(tuple))

False

In [10]:
#Built-in Function
tuple=(0,)
print(any(tuple))

False

In [11]:
#Built-in Function
tuple=()
print(any(tuple))

False

In [13]:
#Built-in Function
tuple=()
print(all(tuple))

True

In [16]:
#Predict The OutPut
tuple=("Apple","byte","Computer")
for i in tuple:
    print(i)

Apple
byte
Computer

In [ ]:
#Predict The OutPut
tuple=("Apple","byte","Computer")
n=2
for i in range(n):
    print(i)

In [20]:
#Predict The OutPut
tuple=("Apple","byte","Computer")
print(list(tuple))

['Apple', 'byte', 'Computer']

In [19]:
# The count repeated values
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.count('y'))
print(tuple.count(7))
print(tuple.count(9))

2
1
0

In [22]:
#The Position of value is called index
tuple=(3,7,'p','y','z',9.5,'y')
print(tuple.index('y'))
print(tuple.index(7))

3
1